@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/poppins-regular.eot');
    src: url("../fonts/poppins-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff"), url("../fonts/poppins-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/poppins-semibold.eot');
    src: url("../fonts/poppins-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff"), url("../fonts/poppins-semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'SansPro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-display: swap;
}

@mixin sub-text($color,
$size,
$align) {
    font-family: "Poppins";
    font-weight: 400;
    line-height: 1.2;
    font-size: $size;
    color: $color;
    text-align: $align;
}

@mixin main-text($color,
$size,
$align) {
    font-family: "Montserrat Bold";
    font-weight: 800;
    color: $color;
    line-height: 1.2;
    font-size: $size;
    text-align: $align;
}

@mixin gradient-text {
    font-family: "Montserrat Bold";
    font-weight: 800;
    line-height: 1.2;
    background-image: linear-gradient(to right, #D3884B, #D28548, #FCCE93, #D28548, #F8CF9D, #E1A063, #D28548);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D7AC4A;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none
}

.main-content {
    @include main-text(#0C9155,
    34px,
    center);
    @media screen and (max-width: 576px) {
        font-size: 28px;
    }
}

.main-content2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin: 0.8rem 0;
}

.sub-content {
    @include sub-text( #fff,
    22px,
    left)
}

.sub-content-18 {
    @include sub-text( #fff,
    18px,
    center)
}

.quote {
    font-family: 'SansPro';
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    line-height: 0.6;
}

.container {
    @media screen and (min-width: 1920px) {
        max-width: 1470px;
    }
}

.navbar {
    background: transparent;
    @media screen and (min-width: 1920px) {
        padding: 42px 0;
    }
}

.banner {
    position: relative;
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__form {
        max-width: 378px;
        padding: 40px 20px;
        background: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        &--title {
            color: #E66E44;
            font-size: 18px;
            line-height: 1.22;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
        input {
            margin-bottom: 12px;
            border-radius: 10px;
            &::placeholder {
                color: #ced4da;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .styled-select {
            margin-bottom: 26px;
        }
        @media screen and (max-width: 1366px) {
            max-width: 325px;
        }
        @media screen and (max-width: 1024px) {
            max-width: 290px;
        }
        @media screen and (max-width: 992px) {
            max-width: 215px;
        }
    }
    &__popup {
        position: absolute;
        right: 1.5rem;
        bottom: 5rem;
        div img {
            cursor: pointer;
            max-width: 80px;
            height: auto;
            @media screen and (min-width: 1920px) {
                max-width: 100%;
            }
        }
    }
}

.surgicalMethod {
    padding: 1.8rem 0;
    &__subcontent {
        @include sub-text(#000,
        22px,
        center);
    }
    &__maincontent {
        margin: 5rem 0 4rem;
        &--left {
            & div:nth-of-type(1) {
                @include main-text(#008E47,
                48px,
                justify);
            }
            & div:nth-of-type(2) {
                @include sub-text(#008E47,
                24px,
                center);
                letter-spacing: 0.05em;
            }
            & div:nth-of-type(3) span {
                @include gradient-text();
                font-size: 56px;
                letter-spacing: -0.01em;
            }
        }
        &--left {
            & div:nth-of-type(1) {
                @include main-text(#008E47,
                41px,
                center);
                @media screen and (min-width: 1920px) {
                    font-size: 48px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 33px;
                }
            }
            & div:nth-of-type(2) {
                @include sub-text(#008E47,
                20px,
                center);
                letter-spacing: 0.05em;
                @media screen and (min-width: 1920px) {
                    font-size: 24px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 16px;
                }
            }
            & div:nth-of-type(3) span {
                @include gradient-text();
                font-size: 47px;
                letter-spacing: -0.01em;
                @media screen and (min-width: 1920px) {
                    font-size: 56px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 38px;
                }
            }
        }
        &--right {
            & div:nth-of-type(1) {
                @include main-text(#008E47,
                60px,
                justify);
                @media screen and (min-width: 1920px) {
                    font-size: 68px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 54px;
                }
            }
            & div:nth-of-type(2) span {
                @include gradient-text();
                font-size: 47px;
                letter-spacing: -0.01em;
                @media screen and (min-width: 1920px) {
                    font-size: 56px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 38px;
                }
            }
        }
        .vertical-line {
            content: '';
            display: block;
            width: 2px;
            height: auto;
            background: #000;
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px 30px;
        @media screen and (max-width: 1366px) {
            column-gap: 10px;
        }
        @media screen and (max-width: 1024px) {
            grid-template-columns: auto auto;
            gap: 30px 30px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: auto;
        }
        &--item {
            background: url(../images/Rectangle-9241.png) left no-repeat;
            width: 100%;
            height: auto;
            background-size: auto;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 52px;
            padding: 2rem 8px;
            position: relative;
            overflow: hidden;
            #best-method {
                position: absolute;
                top: 0;
                left: 1rem;
                @media screen and (max-width: 375px) {
                    img {
                        width: 80%;
                    }
                }
                @media screen and (max-width: 320px) {
                    img {
                        width: 60%;
                    }
                }
            }
            &--bg {
                content: '';
                display: block;
                position: absolute;
                background: radial-gradient(91.8% 91.8% at 50% 50%, #1AAE6A 0%, #6FCF97 100%);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
            }
            >img {
                position: absolute;
                z-index: -1;
                right: -2rem;
                bottom: -2rem;
            }
            .blur-dot {
                content: '';
                display: block;
                position: absolute;
                width: 64.29px;
                height: 62px;
                right: 20px;
                top: 8px;
                background: #9DF3C1;
                filter: blur(30px);
            }
            &--content {
                .contentText-main {
                    @include sub-text(#fff,
                    30px,
                    center);
                    margin-bottom: 0;
                }
                .contentText-sub {
                    @include sub-text(#008E47,
                    18px,
                    center);
                    background: #fff;
                    border: 3px solid #478360;
                    border-radius: 29px;
                    height: 103px;
                    display: flex;
                    align-items: center;
                    margin: 2rem 0;
                }
                .contentPrice {
                    width: 100%;
                    margin-bottom: 1rem;
                    &__locate {
                        width: 32%;
                        @include sub-text(#fff,
                        18px,
                        left)
                    }
                    &__discount {
                        position: relative;
                        margin: 0 1rem;
                        span {
                            position: absolute;
                            font-family: 'Roboto Bold';
                            font-weight: 700;
                            color: #fff;
                            font-size: 16px;
                            line-height: 1.2;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &__price {
                        text-align: right;
                        &--sale {
                            font-family: 'Roboto Bold';
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 1.2;
                            color: #fff;
                        }
                        &--cost {
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.2;
                            color: #fff;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}

.review {
    background: linear-gradient(90deg, #008E47 1.43%, #20BD74 49.18%, #0B9054 100%);
    padding: 1rem 0 4rem;
    .main-content {
        background: #FFF6A6;
        padding: 1.5rem 0;
    }
    &__img {
        position: relative;
        &--main {
            position: relative;
            background: url(../images/review.png) left no-repeat;
            width: 400px;
            height: 400px;
            background-size: contain;
            z-index: 2;
            float: left;
        }
        &--rotate {
            position: absolute;
            background: url(../images/review.png) right no-repeat;
            width: 400px;
            height: 400px;
            background-size: contain;
            right: 0;
            top: 2rem;
            transform: rotate(13.34deg);
            z-index: 1;
            // float: right;
        }
    }
    &__text {
        &--reviewer {
            // font-family: 'Montserrat';
            font-size: 34px;
            margin-bottom: 1rem;
        }
        &--content {
            text-align: justify;
        }
    }
}

.features {
    padding: 6rem 0;
    &__item {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        &--icon {
            position: relative;
            margin-right: 1rem;
            span {
                content: '';
                display: block;
                background: #008E47;
                width: 76px;
                height: 76px;
                border-radius: 50%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            }
            img {
                position: absolute;
                width: 38px;
                height: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &--text {
            color: #454545;
        }
    }
    &__note {
        font-family: 'Montserrat';
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        color: #454545;
    }
}

.humanResource {
    background: #F0FFF6;
    padding: 6rem 0;
    .main-content2 {
        font-size: 20px;
        padding: 0 6rem;
    }
    .slider {
        margin: 0 -10px;
        &__item {
            margin: 0 10px;
            &--img {
                position: relative;
                span {
                    background: #DFF5EB;
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    bottom: 0;
                    border-radius: 15px 15px 0 0;
                    z-index: -2;
                    span {
                        position: absolute;
                        width: 40%;
                        height: 60%;
                        left: 50%;
                        bottom: 50%;
                        transform: translate(-50%, 50%);
                        background: #219653;
                        filter: blur(55px);
                    }
                }
            }
            &--text {
                padding: 12px 1.5rem 1rem;
                background: #F6F7F9;
                border: 1px solid #DFF5EB;
                border-radius: 0 0 25px 25px;
                div {
                    color: #008E47;
                }
                .doc-name {
                    font-weight: 600;
                }
                .sub-content {
                    @media screen and (max-width: 1024px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.equipment {
    padding: 5rem 0;
    .equipmentGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px 30px;
        @media screen and (min-width: 1920px) {
            column-gap: 100px;
        }
        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            gap: 60px 60px;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        &__item {
            &--img {
                display: flex;
                justify-content: center;
                padding-bottom: 2rem;
                border-bottom: 0.5px solid #000000;
            }
            &--text {
                .equip-name {
                    color: #008E47;
                    font-size: 26px;
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                    height: 4rem;
                }
                .equip-origin {
                    color: #008E47;
                    font-size: 20px;
                    margin-bottom: 1rem;
                }
                .equip-info {
                    text-align: justify;
                }
            }
        }
    }
}

.question {
    background: #F0FFF6;
    padding: 3rem 0 5rem;
    .main-content {
        background: #008E47;
        color: #fff;
        padding: 1.5rem 0;
        border-radius: 12px;
    }
    .accordion {
        max-width: 80%;
        margin: 1rem auto 0;
        .accordion-item {
            background: none;
            border: none;
            border-top: 0.5px solid #454545;
            &:first-of-type {
                border-top: none
            }
            .accordion-button {
                @include sub-text(#000,
                24px,
                left);
                border: none;
                background: none;
                padding: 2rem 0;
                &:not(.collapsed) {
                    color: inherit;
                    background-color: none;
                    box-shadow: none;
                    &::after {
                        background-image: url(../images/icon/down-arrow.png);
                    }
                }
                &::after {
                    background-image: url(../images/icon/down-arrow.png);
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .accordion-body {
                padding: 1rem 0 4rem;
                @include sub-text(#000,
                22px,
                justify);
            }
        }
    }
}

.input-group {
    display: flex;
    align-items: center;
    padding: 18px 22px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.25);
    border-radius: 10px;
    margin-bottom: 1rem;
    img {
        width: 20px;
        height: auto;
    }
    input {
        border: none;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: #BDBDBD;
            font-size: 12px;
        }
    }
    select {
        color: #BDBDBD;
        font-size: 12px;
        border: none;
        &:focus {
            box-shadow: none;
        }
    }
}

.contact {
    background: url(../images/mask-group.png) center no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 3rem 0;
    &__form {
        &--title {
            width: 80%;
            font-family: 'Montserrat';
            font-weight: 600;
            color: #fff;
            font-size: 24px;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 2rem;
            @media screen and (max-width: 1024px) {
                width: 90%;
            }
            @media screen and (max-width: 992px) {
                margin-left: auto;
                margin-right: auto;
            }
            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }
        form {
            width: 80%;
            @media screen and (max-width: 1024px) {
                width: 90%;
            }
            @media screen and (max-width: 992px) {
                margin: 0 auto;
            }
            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }
    }
}

footer {
    padding: 4rem 0;
    color: #717171;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    .footer {
        &__locate,
        &__tel,
        &__mail {
            position: relative;
            margin-left: 4rem;
            margin-bottom: 2rem;
            @media screen and (max-width: 992px) {
                margin-left: 3rem;
            }
            &::before {
                position: absolute;
                content: '';
                display: block;
                width: 27px;
                height: 35px;
                top: 0;
                left: -4rem;
                @media screen and (max-width: 992px) {
                    left: -2.5rem;
                }
            }
        }
        &__locate {
            &--branch {
                display: flex;
                @media screen and (max-width: 576px) {
                    display: block;
                    & div:first-child {
                        margin-bottom: 0.5rem;
                    }
                }
            }
            &--branch:not(:first-of-type) {
                margin-top: 2rem;
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    background: #717171;
                    width: 80%;
                    height: 0.5px;
                    left: 0;
                    top: -1rem;
                }
            }
            &::before {
                background: url(../images/icon/location.png) center no-repeat;
            }
        }
        &__tel {
            &::before {
                background: url(../images/icon/phone.png) center no-repeat;
                width: 35px;
            }
        }
        &__mail {
            &::before {
                background: url(../images/icon/email.png) center no-repeat;
                width: 35px;
            }
        }
    }
}